{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Graph Genome </title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/higlass@1.11/dist/hglib.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js"></script>
    <script src="https://unpkg.com/higlass@1.11/dist/hglib.js"></script>
    <script src="https://unpkg.com/gosling.js@0.9.17/dist/gosling.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'js/func_comunes.js' %}"></script>
</head>
<body style="background-color: white;">
    <div class="container-fluid containerDiv">
        <div class="up row">
            <div class="col-2" style="margin-top: 1%; margin-left: 1%;">
                <button class="btn p-0 border-0" onclick="openInfo()"><i class="fas fa-info-circle icono"></i></button>
                <button class="btn p-0 border-0"><a href="{% static 'outputs/multiqc_report.html' %}" target="_blank"><i class="fas fa-link icono"></i></a></button>
                <button class="btn p-0 border-0" onclick="downloadFiles()"><i class="fas fa-download icono" style="color:#2C5176;"></i></button>
            </div>
            <div id="search" class="col-1" style="margin-top: 1%;">
                <input type="search" list="opciones" id="buscar">
                <datalist id="opciones">
                    {% for key, value in opciones.items %}
                        <option value="{{ key }}" data-value="{{ value.0 }}-{{ value.1 }}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-5" id="metadataPanel"><p id="metadataInfo"></p></div>
            <div class="col-3 loadSection justify-content-center">
                <div class="row row2 justify-content-center d-flex">
                    <div>
                        <form method="POST" enctype="multipart/form-data" action="/uploadFile/" onsubmit="disableAllBtn();">
                            {% csrf_token %}
                            <div>
                                <input type="file" accept=".fa,.fasta" name="dna" id="loadFasta" multiple="multiple" hidden>
                                <label for="loadFasta" class="col-4 btn-center-text loadButton text-md" id="labelFasta"> Fasta </label>
                                <input type="file" accept=".gff3,.gb" name="metadata" id="loadMetadata" multiple="multiple" hidden disabled>
                                <label for="loadMetadata" class="col-4 btn-center-text loadButton text-md disabled" id="labelMetadata"> Metadata </label>
                                <input type="file" accept=".zip" name="graphGenome" id="loadGraphGenome" multiple="multiple" hidden>
                                <label for="loadGraphGenome" class="col-4 loadButton text-md" id="labelGraphGenome"> Graph </label>
                                <button type="submit" class="btn-center-text submitButton disabled" style="margin: 1%;" id="submit" disabled> Submit </button>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
        <div class="down row">
            <div class="col-2">
                <div class="leftPanel align-items-center">
                    {% for key, value in secuencias_dicc.items %}
                    <div class="sequence form-switch form-switch-lg">
                        <input class="form-check-input mi-switch" type="checkbox" id="toggleSwitch{{ loop.index }}" {% if value %}checked{% endif %}>
                        <label class="form-check-label labelSeq" style="font-size: 1vw;" for="toggleSwitch{{ loop.index }}"> {{ key }} </label>
                    </div>
                    {% endfor %}
                    <form method="POST" enctype="multipart/form-data" action="/joinCsv/">
                        {% csrf_token %}
                        <input type="hidden" name="arrSwitch" id="arrSwitch">
                        <button type="submit" style="width: 100%; margin-bottom: 40px !important;" id="aceptar" class="submitButton"> Accept </button>
                    </form>
                </div>
            </div>
            <div class="col-10">
                <div class="midPanel">
                    <div id="gosling-container">
                </div>
            </div>
        </div>
    </div>
  <!-- Ventana emergente - Información de usuario -->    
  <div id="myModal" class="modal">
    <div class="modal-content justify-content-center">
        <h2 style="margin:auto; margin-bottom: 5%;"> User Guide </h2>
        <p class="infoP"> Lets start with Graph Genomes: </p>
        <p class="infoP"> 1. Load your fasta files using the fasta button located in the upper left corner. That will enable the submit button to start working </p>   
        <p class="infoP"> 2. If you have metadata files you can upload them too using the metadata button located next to the fasta button </p>
        <p class="infoP"> 3. Press the submit button to start. The fastas will be treated to generate the graph </p>
        <p class="infoP"> 4. You can select the sequences you want to be displayed with the switch buttons located in the left panel. Press accept to refresh the graph </p>
        <p class="infoP"> 5. The Graph Genomes will be displayed in the middle panel. You can zoom in the genes and move through them </p>
        <p class="infoP"> 6. Also you can search a specific gen with the search bar located in the upper right corner </p>   
        <button onclick="closeModal()" id="buttonInfoWindow" class="button btn-dark" style="width: 20%; margin: auto;"> Close </button> 
    </div>
  </div>
    <script src="{% static 'js/graph.js' %}"></script>
    <script>
        // Configuración inicial por defecto
        // end, secuencias -> Variables que recibo del contexto del html
        var end = "{{end}}"
        var secuencias_string = "[{{ secuencias|join:', ' }}]"
        var secuencias = secuencias_string.replace('[','').replace(']','').split(',').map(function(item) {
            return item.trim().replace(/'/g, '');
        });

        // Script que se usa para el buscador
        var searchInput = $('input[type="search"]')[0];
        var dataList = $('datalist#opciones')[0];
        $(searchInput).on('change', function(event) {
            var optionKey = event.target.value;
            var optionValues = $(dataList).find('option[value="' + optionKey + '"]').attr('data-value');
            var valuesArray = optionValues.split('-');
            var start = parseInt(valuesArray[0]);
            var end = parseInt(valuesArray[1]);

            my_graph = createGraph([start, end], secuencias, output);
            gosling.embed($('#gosling-container')[0], my_graph);
            // Actualizar metadatos
            var inputValue = $(event.target).val();
            getMetadata(inputValue);
        });

        // Hacer click al botón aceptar, y crear array que te dice qué switches están enable
        $(document).ready(function() {
            $('#aceptar').click(function() {
                var arrSwitch = []
                $('.mi-switch').each(function() {
                    var valorSwitch = $(this).is(':checked');
                    arrSwitch.push(valorSwitch)
                });
                $('#arrSwitch').val(JSON.stringify(arrSwitch));
            });
        });

        // Mostrar datos según los botones
        var output = "/static/outputs/fasta_union.csv";
        var screenWidth = $(window).innerWidth(); // Cogemos el ancho de la ventana en el dispositivo actual
        var screenHeight = $(window).innerHeight(); // Cogemos el alto de la ventana en el dispositivo actual
        my_graph = createGraph([0, end], secuencias, output, screenWidth, screenHeight); // Le pasamos las dimensiones de la pantalla para parametrizar las dimensiones del grafo
        gosling.embed($('#gosling-container')[0], my_graph);

        // Función que nos sirve para el botón de descargar zip, hacemos una descarga múltiple de archivos desde la ruta
        function downloadFiles() {
            $.ajax({
                url: '/downloadFiles/',
                method: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function(data) {
                    // Crear un enlace para descargar el archivo comprimido
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(new Blob([data]));
                    link.download = 'GraphGenome.zip';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            });
        }
    </script>
</body>
</html>